<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.anon.grow.updater"
>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:supportsRtl="true"
		android:icon="@mipmap/ic_launcher"
		android:label="Grow Updater"
	>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true"
		>
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>

		<receiver android:name=".CheckUpdateReceiver" android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="me.anon.grow.ACTION_UPDATER" />
			</intent-filter>
		</receiver>

		<activity android:name="me.anon.grow.updater.ConfigureActivity" android:theme="@style/AppTheme">
			<intent-filter>
				<category android:name="me.anon.grow.ADDON_CONFIGURATION" />
				<action android:name="me.anon.grow.ACTION_UPDATER" />
			</intent-filter>
		</activity>

		<activity android:name=".DownloadActivity" android:theme="@style/AppTheme" />

		<meta-data android:name="me.anon.grow.ADDON_NAME" android:value="Updater" />
		<meta-data android:name="me.anon.grow.ADDON_VERSION" android:value="${versionName}" />
	</application>
</manifest>
